{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block content %}

    <section class="   d-flex justify-content-end container" id="picture">
        <div class=" p-2 p-lg-5">
            <div class="edit p-4 ">
                <h1 class="text-white text-center m-2 h3 mb-3 fw-bold">Modifier mot de passe</h1>

                {{ form_start(form) }}
                <div class="fw-bold ">
                    {{ form_row(form.username) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.old_password) }}
                    {{ form_row(form.new_password) }}
                </div>
                <div class="fw-bold text-center ">
                    {{ form_end(form) }}
                </div>
                <div class="form-groupe m-2 px-5 ">
                    <p class="text-center  rounded-1 border border-secondary bg-primary form-control-sm m-2 w-100 ">
                        <a href="{{ path('app_account') }}" class="text-decoration-none m-3 text-white fw-bold ">Retourner à mon compte</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}