<h2 class="fw-bold text-center mb-4"> Commentaires</h2>
<div class="text-center mb-3">
    <h5>Connectez-vous à votre compte afin de laisser un commentaire</h5>
    <a href="{{ path('app_login') }}"
       class=" mt-2 mb-3 ps-2 text-decoration-none text-center btn btn-secondary">Connexion </a>
</div>
{% if is_granted('ROLE_USER') %}
<section id="comment">
    {# {{ pagination.getTotalItemCount}} #}


    {% for comment in pagination %}
        {# {{comment.id}} #}

        <div class="timeline-panel-container ">

            <div class="timeline-panel m-3 ">
                <div class="row">
                    <div class="col-2">
                        <img src="{{ asset('assets/images/snowboarding.png') }}" class="logo"
                             alt="logo">

                    </div>
                    <div class="col-5">
                        <div class="timeline-heading">
                            <p class="timeline-heading text-decoration-none"><span class="m-2 text-uppercase fw-bold">{{ comment.user.username }}</span> |<span class="m-2"> {{ comment.createdAt ? comment.createdAt|date('d-m-Y H:i:s') : '' }}</span> </p>
                        </div>

                        <div class="timeline-body">
                            <p class="timeline-heading text-decoration-none">{{ comment.message }}</p>
                            <div class="d-flex justify-content-end align-items-center mt-3">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="timeline-body">
                    <div class="d-flex justify-content-end align-items-center mt-3">
                        <div class="row">
                            <div class="col">
                                <div class="btn-group text-center m-2 text-uppercase ">
                                    <a href="{{ path('app_comment_edit', {'id': comment.id}) }}"
                                       class="btn btn-sm btn-outline-warning border border-info border-3 text-dark fw-bold">
                                        <img src="{{ asset('assets/images/logoEdit.png') }}"
                                             height="18px"
                                             alt="Edit comment"></a>
                                    <a href=" {{ path('app_comment_delete', {'id': comment.id}) }} "
                                       class="btn btn-sm btn-outline-warning border border-info border-3"><img
                                                src="{{ asset('assets/images/logoDelete.png') }}"
                                                height="18px"
                                                alt="Delete comment"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="pagination mb-3">
        {{ knp_pagination_render(pagination) }}
    </div>
</section>
{% endif %}