<h2 class="fw-bold text-center mb-4" id="Comment" > Commentaires</h2>
<section >
    <a href="#finish">
        <div class="btn-rond d-flex justify-content-end align-items-end ">
            <img src="{{ asset('assets/images/logoFlecheBas.png') }}" alt="logoFlecheBas" class="logo-btn-rond" >
        </div>
    </a>
    <p class="fw-bold" >{{ pagination.getTotalItemCount}} commentaires</p>
    {% for comment in pagination %}


        <div class="timeline-panel-container ">

            <div class="timeline-panel m-3 ">
                <div class="row">
                    <div class="col-2">
                        <img src="{{ asset('assets/images/snowboarding.png') }}" class="logo"
                             alt="logo">

                    </div>
                    <div class="col-md-5">

                        <div class="timeline-heading">
                            <img src="{{ asset('/upload/profiles/images/' ~comment.user.image) }}" alt="picture profil"
                                 class="profile-picture mb-2 " style="width:10%">

                            <p class="timeline-heading text-decoration-none fw-bold" >{{ comment.user.username }}</p>
                        </div>
                        <div class="timeline-body">
                            <p class="timeline-heading text-decoration-none">{{ comment.message }}</p>
                            <div class="d-flex justify-content-end align-items-center mt-3">

                            </div>

                        </div>
                    </div>
                </div>
                <div class="timeline-body">
                    <div class="d-flex justify-content-end align-items-center mt-3">
                        <div class="row">

                            <div class="col">
                                {% if comment.user == app.user %}
                                    <div class="btn-group text-center m-2 text-uppercase ">
                                        <a href="{{ path('app_comment_edit', {'id': comment.id}) }}"
                                           class="btn btn-sm btn-outline-warning border border-info border-3 text-dark fw-bold">
                                            <img src="{{ asset('assets/images/logoEdit.png') }}"
                                                 height="18px"
                                                 alt="Edit comment"></a>
                                        <a href=" {{ path('app_comment_delete', {'id': comment.id}) }} "
                                           class="btn btn-sm btn-outline-warning border border-info border-3"><img
                                                    src="{{ asset('assets/images/logoDelete.png') }}"
                                                    height="18px"
                                                    alt="Delete comment"></a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
    <a href="#Comment" id="finish">
        <div class="btn-rond1 d-flex justify-content-end align-items-end my-4" >
            <img src="{{ asset('assets/images/logoFlecheHaut.png') }}" alt="logoFlecheHaut" class="logo-btn-rond1" >
        </div>
    </a>
    <div class="pagination mb-3">
        {{ knp_pagination_render(pagination) }}
    </div>



</section>