<section class=" d-flex justify-content-end p-5 container-fluid" id="picture">
    <div class=" p-2 p-lg-5">

        {{ form_start(form) }}
        {{ form_widget(form.fileName,{'attr': {'placeholder':'Image', 'class':'fw-bold'}}) }}
        <br>
        {{ form_end(form) }}
        <div class="d-flex justify-content-end align-items-center mt-3">
            <a href="{{ path('app_trick') }}"
               class="btn btn-sm btn-outline-secondary"><img
                        src="{{ asset('assets/images/logoReturn.png') }}" height="18px"
                        alt="Return"></a>
        </div>



    </div>
</section>