{% extends 'base.html.twig' %}
{% block title %}Voir les catégories{% endblock %}
{% block album %}{% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-5">
        {% for category in categories  %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text text-center text-uppercase fw-bold">{{ category.name}}</p>

                        <div class="d-flex justify-content-center align-items-center">
                            <div class="row">
                                <div class="col">
                                    <div class="btn-group text-center m-2 text-uppercase ">
                                        <a href="{{ path('app_category_edit', {'slug': category.slug}) }}"
                                           class="btn btn-sm btn-outline-warning border border-info border-3 text-dark fw-bold">
                                            <img src="{{ asset('assets/images/logoEdit.png') }}" height="18px"
                                            alt="Modifier category">
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="btn-group text-center">

                                    <a href="{{ path('app_category_delete', {'slug': category.slug }) }}"
                                       class="btn btn-sm btn-outline-warning border border-info border-3"><img
                                                src="{{ asset('assets/images/logoDelete.png') }}" height="18px"
                                                alt="Modifier category"></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
