{% extends 'base.html.twig' %}

{% block title %}Ajouter les médias' - Snowtrick{% endblock %}

{% block content %}
    <section class=" d-flex justify-content-end p-5 container-fluid" id="picture">
        <div class=" p-2 p-lg-5">

            {{ form_start(form) }}
            <h1 class="text-white text-center m-2 h3 mb-3 fw-bold">Ajouter une vidéo</h1>
            {{ form_widget(form.link,{'attr': {'placeholder':'Video', 'class':'fw-bold'}}) }}
            <br>
            {{ form_end(form) }}
            <div class="d-flex justify-content-end align-items-center mt-3">
                <a href="{{ path('app_trick') }}"
                   class="btn btn-sm btn-outline-secondary"><img
                            src="{{ asset('assets/images/logoReturn.png') }}" height="18px"
                            alt="Return"></a>
            </div>

        </div>
    </section>
{% endblock %}