<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Snowtrick">

    <title>{% block title %}Snowtrick{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">


</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        <img src="{{asset('assets/images/snowboarder.png')}}" class="logo" alt="logo">
        <a class="navbar-brand p-2 fw-bold " href="">Snowtricks </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end p-3" id="navbarCollapse">
            <ul class="navbar-nav mr-auto fw-bold">
                <li class="nav-item active">
                    <a class="nav-link text-end" href="{{path('app_home')}}">Accueil</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link " href="{{path('app_trick')}}">Figures</a>
                </li>

            </ul>
            <div class="navbar-item-custom">

                {% if app.user %}
                    <a href="{{ path('app_account') }}" >Mon compte <small>({{ app.user.username }} )</small> </a> |
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class=" ps-2 ">Connexion </a> |
                    <a href="{{ path('app_register') }}" class=" p-2">Inscription</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>

<main role="main">
    {% if block('album') is defined %}
        <section class=" d-flex justify-content-start container-fluide" id="picture" >
            <div class="row py-lg-5">
                <div class="col-lg-6  mx-auto">
                    <h1 class="fw-bold m-5 p-5 text-white text-start">Snowtrick</h1>


                </div>
            </div>
        </section>
    {% endif %}
    <div class="album py-5 bg-light">
        <div class="container {% if block('album') is not defined %}mt-5{% endif %}">

            {% include "_message_flash.html.twig" %}

            {% block content %}{% endblock %}

        </div>
    </div>

</main>
<!-- FOOTER -->
<footer class="footer-custom mb-auto text-center">
    <p class="fw-bold ">
        &copy;2021-2022 Carine VINAGRE. Snowtrick<br/>
    </p>
</footer>

<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
</body>
</html>
