<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Snowtrick">

    <title>{% block title %}Snowtrick{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">


        <a class="navbar-brand p-2 fw-bold " href="">Snowtricks </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end p-3" id="navbarCollapse">
            <ul class="navbar-nav mr-auto fw-bold">
                <li class="nav-item active">
                    <a class="nav-link text-end" href="">Accueil</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link " href="">Figures</a>
                </li>

            </ul>
            <div class="navbar-item-custom">
                {% if app.user %}

                    <a href="{{ path('app_logout') }}" class="text-decoration-none p-2">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="text-decoration-none ps-2 ">Connexion</a> | <a
                        href="{{ path('app_register') }}" class=" text-decoration-none p-2">Inscription</a>
                {% endif %}
            </div>
        </div>


    </nav>

</header>

<main role="main">
    {% if block('album') is defined %}
        <section class="container-fluide" id="picturebase">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-bold m-5 p-5 text-white text-center ">Snowtrick</h1>
                    <p class="lead text-muted">Something short and leading about the collection below—its contents, the
                        creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it
                        entirely.</p>

                </div>
            </div>
        </section>
    {% endif %}
    <div class="album py-5 bg-light">
        <div class="container {% if block('album') is not defined %}mt-5{% endif %}">

            {% block content %}
            {% endblock %}

        </div>
    </div>

</main>
<!-- FOOTER -->
<footer class="footer-personnalise mb-auto text-center">

    <p class="fw-bold ">
        &copy;2021-2022 Carine VINAGRE.<br/>
    </p>
</footer>

<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
</body>
</html>
