{% extends 'base.html.twig' %}

{% block title %}Modifier Trick -Snowtrick{% endblock %}

{% block content %}
    <h1 class="text-dark text-center fw-bold mb-2">Modidier un trick</h1>
    <div class="card-title-band">
        <h1 class="card-title trick-title">{{ trick.title }}</h1>
    </div>
    {{ form_start(form) }}
    {% block form %}
        {% include "/trick/_form.html.twig" %}
    {% endblock %}
    {{ form_end(form) }}
    <a href="{{ path('app_trick') }}">Retour</a>
    {{ include('trick/_delete_form.html.twig') }}
{% endblock %}