{% extends 'base.html.twig' %}

{% block title %}Create Trick - Snowtrick{% endblock %}

{% block content %}

    <section class=" d-flex justify-content-end p-5 container-fluid" id="picture">
        <div class=" p-2 p-lg-5">

            <h1 class="text-white text-center m-2 h3 mb-3 fw-bold">Créer un Trick</h1>
{#            {% if notification %}#}
{#                <div class="alert alert-info">{{ notification }}</div>#}
{#            {% endif %}#}
            {{ form_start(form) }}
            <div class="fw-bold mb-2">
                {{ form_row(form.title) }}
                {{ form_row(form.slug) }}
                {{ form_row(form.description) }}
            </div>
            <div class="fw-bold text-center ">
                {{ form_end(form) }}
            </div>

        </div>
    </section>
{% endblock %}
